<!doctype html>
<meta name="robots" content="noindex, nofollow">
<title>{if $title}{$title} | {/if}Nette Web Editor</title>
<link rel="stylesheet" href="http://files.nette.org/css/combined.css">
<style>
	body { background-image: none; }

	{if !isset($topMenu)}
		#page { padding: 20px; }
		#wikimenu { top: 0; right: 25px; }
	{else}
		#wikimenu { right: 5px; }
	{/if}

	#wikimenu > ul > li { border: none; }
	#wikimenu a { margin-right: 3px; }
	#wikimenu a:hover { background-color: transparent; }

</style>

<div id="page">
	<header n:ifset="$topMenu" id="header">
		<a id="logo" title="Homepage" href="{$homepageLink}"><span>Homepage</span></a>
		<nav id="menu">
			{!$topMenu}
		</nav>
	</header>
	<div n:ifset="$topMenu" id="wikimenu">
		<ul>
			<li><a href="#">Wiki&nbsp;<span>▼</span></a>
				<ul>
					<li><a href="{$editLink}">Edit</a></li>
					<li><a href="{$ghLink}">View on GitHub</a></li>
					<li n:ifset="$netteOrgLink"><a href="{$netteOrgLink}">View on nette.org</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="main" n:class="$toc ? sidebar">
		<div n:if="$themeIcon"><img src="{$themeIcon}" id="themeicon"></div>
		<div id="content" n:class="$theme ? $theme">{!$htmlContent}</div>
		{if $toc}
			<aside id="sidebar">
				<div id="toc">
					<h3>Contents</h3>
					<ul>
						{foreach $toc as $heading}
							<li><a href="#{$heading->id}">{$heading->title}</a>
							{if $next = $iterator->nextValue}
								{if $next->level === $heading->level}</li>
								{elseif $next->level > $heading->level}<ul>
								{else}</ul></li>{/if}
							{/if}
						{/foreach}
					</ul>
				</div>
			</aside>
		{/if}
	</div>
</div>
