parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		mapping:
			*: App\*Module\*Presenter
	session:
		autoStart: true


services:
	- App\RouterFactory
	- App\EditorModel(..., %github.clientId%, %github.clientSecret%, %github.repoOwner%, %github.repoName%, %github.accessToken%)
	- Github\Client
	- App\LinkFactory

	pageRenderer: App\PageRenderer(@nette.template)
	router: @App\RouterFactory::createRouter


factories:
