parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		mapping:
			*: App\*Module\*Presenter
	session:
		autoStart: true


services:
	- App\RouterFactory
	- App\EditorModel(..., %github.repoOwner%, %github.repoName%, %github.accessToken%)
	- Github\Client

	router: @App\RouterFactory::createRouter


factories:
