parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		mapping:
			*: App\*Module\*Presenter


services:
	- App\RouterFactory

	router: @App\RouterFactory::createRouter


factories:
