<!doctype html>
<title>{#title}Nette Web Editor{/#}</title>
<link rel="stylesheet" href="{$basePath}/static/css/screen.css">
<link rel="icon" href="{$basePath}/favicon.ico">

{include #content}
{control js}
