<!DOCTYPE html>
<title>{#title}Nette Web Editor{/#}</title>
<link rel="stylesheet" href="{$basePath}/css/screen.css">
<link rel="shortcut icon" type="image/x-icon" href="{$basePath}/favicon.ico">
{#head}{/#}

<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
{include #content}

{#scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/diff_match_patch.js"></script>
	<script src="{$basePath}/js/main.js"></script>
{/#}
