{#content}

	<h1 n:inner-block="title">Nette Web Editor</h1>

	{form openPageForm}
		{label page}Page URL:{/label} {input page, value => "http://doc.nette.org/cs/components"} {input send, value => "Open"}
	{/form}

	{control editor}

{/#}
