.live-texy-editor {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #3484d2;
  font-family: "Open Sans", Verdana, "Geneva CE", lucida, sans-serif;
  /* from nette.org */

}
.live-texy-editor .header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: #1d5183;
  color: #fff;
  line-height: 1.0;
}
.live-texy-editor .header .controls {
  padding: 10px;
}
.live-texy-editor .header .controls input,
.live-texy-editor .header .controls select {
  line-height: 1.0;
  margin: 0;
  outline: none;
}
.live-texy-editor .header .controls input[type=text] {
  height: 18px;
  border: none;
  padding: 3px 5px;
}
.live-texy-editor .header .controls input[type=text]::-webkit-input-placeholder {
  padding: 2px 0px;
  /* WebKit hot fix */

}
.live-texy-editor .header .controls select {
  height: 24px;
  padding: 3px;
  border: none;
  width: 150px;
}
.live-texy-editor .header .controls input[type=submit] {
  width: 60px;
}
.live-texy-editor .header .form-errors {
  padding: 10px;
  margin-bottom: 12px;
  background-color: #BE0404;
}
.live-texy-editor .main {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.live-texy-editor .main > .left,
.live-texy-editor .main > .right {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 400px;
  /* normalize width */

}
.live-texy-editor .main.left-only > .right {
  display: none;
}
.live-texy-editor .main.right-only > .left {
  display: none;
}
.live-texy-editor .main.right-only .right {
  max-width: none;
}
.live-texy-editor .main .left textarea {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
  overflow-y: scroll;
  font-family: Consolas, monospace;
}
.live-texy-editor .main .right {
  max-width: 1000px;
}
.live-texy-editor .main .right iframe.output {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
  /* for IE */

  border: none;
}
