/* (c) David Grudl, nette.org */
.live-texy-editor {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  background-color: #3484d2;
  font-family: "Open Sans", Verdana, "Geneva CE", lucida, sans-serif;
}
.live-texy-editor .header {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 44px;
  background-color: #1d5183;
  color: #fff;
  line-height: 1.0;
}
.live-texy-editor .header .controls {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 5px;
}
.live-texy-editor .header .controls input,
.live-texy-editor .header .controls select {
  line-height: 1.0;
  margin: 0;
  outline: none;
}
.live-texy-editor .header .controls input[type=text] {
  height: 18px;
  margin: 5px 7px;
  padding: 3px 5px;
  border: none;
}
.live-texy-editor .header .controls input[type=text]::-webkit-input-placeholder {
  padding: 2px 0px;
  /* WebKit hot fix */

}
.live-texy-editor .header .controls input[name=page] {
  width: 250px;
}
.live-texy-editor .header .controls input[name=message] {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  min-width: 250px;
  max-width: 500px;
}
.live-texy-editor .header .controls select {
  height: 24px;
  margin: 5px 0;
  padding: 3px;
  border: none;
  width: 150px;
}
.live-texy-editor .header .controls input[type=submit] {
  width: 60px;
}
.live-texy-editor .header .controls .left {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.live-texy-editor .header .controls .right {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.live-texy-editor .header .controls .nowrap {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.live-texy-editor .header .controls .nowrap.grow {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.live-texy-editor .header .controls .nowrap > * {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.live-texy-editor .header .status {
  padding: 10px;
  margin-bottom: 12px;
}
.live-texy-editor .header .status a {
  color: inherit;
}
.live-texy-editor .header .status.info {
  background-color: #00A700;
}
.live-texy-editor .header .status.error {
  background-color: #BE0404;
}
.live-texy-editor .main {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.live-texy-editor .main .column {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 400px;
  -moz-flex: 1 0 400px;
  -ms-flex: 1 0 400px;
  flex: 1 0 400px;
  display: none;
}
.live-texy-editor .main.code .column.code {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.live-texy-editor .main.code .column.code textarea {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
  margin: 0;
  padding: 5px;
  border: none;
  outline: none;
  resize: none;
  overflow-y: scroll;
  font-family: Consolas, monospace;
}
.live-texy-editor .main.preview .column.preview {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-grow: 1.2;
  -moz-flex-grow: 1.2;
  -ms-flex-grow: 1.2;
  flex-grow: 1.2;
}
.live-texy-editor .main.preview .column.preview iframe {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: none;
}
.live-texy-editor .main.code.preview .column.preview,
.live-texy-editor .main.code.diff .column.diff {
  max-width: 1000px;
}
.live-texy-editor .main.diff .column.diff {
  -webkit-flex-grow: 1.2;
  -moz-flex-grow: 1.2;
  -ms-flex-grow: 1.2;
  flex-grow: 1.2;
  display: block;
  overflow-y: scroll;
}
.live-texy-editor .main.diff .column.diff .content {
  padding: 20px;
  color: #000;
  font-family: Consolas, monospace;
  font-size: 13px;
  line-height: normal;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}
.live-texy-editor .main.diff .column.diff .content div {
  box-sizing: border-box;
  max-width: 940px;
  margin: 0 auto 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  white-space: pre-wrap;
}
.live-texy-editor .main.diff .column.diff .content ins {
  background: #9e9;
  text-decoration: none;
}
.live-texy-editor .main.diff .column.diff .content ins.multiline {
  background: #dfd;
}
.live-texy-editor .main.diff .column.diff .content del {
  background: #e99;
  text-decoration: none;
}
.live-texy-editor .main.diff .column.diff .content del.multiline {
  background: #fdd;
}
.live-texy-editor .main.diff .column.diff .content .whitespace {
  opacity: 0.2;
}
.live-texy-editor .main.diff .column.diff .content .whitespace.tab {
  background-image: url('../images/tab-arrow.png');
  background-position: top 0 right 1px;
  background-repeat: no-repeat;
}
